/*html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}*/

h2 {
  font-family: "Sacramento", sans-serif;
  font-size: calc(.5 * (2.5vh + 2.1vw));
  text-align: center;
  padding: 20px 0;
}
a {
  text-decoration: none;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #F2D99D;
}

/* selected link */
a:active {
  color: blue;
}
  .column {
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      /*display: block;*/
    }
  }
  /*
  @media screen and (min-width: 800px) {
    h2 {
      font-size: calc(.5 * (1.5vh + 3vw));
    }
    .mail {
      font-size: 1vw;
    }
    .team {
      width: 100px;
    }
  }*/
  .cover {
    border-radius: 25px;
    border-style: inset;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 05;

  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .mail {
    font-family: monospace;
    font-size: calc(.5 * (1.5vh + 1.1vw));
    text-align: center;
    color: lightblue;

  }
  .mission {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    float: left;
  }
  .title {
    color: grey;
    text-align: center;
  }

  .team {
    display: block;
    margin: auto;
    width: 90%;
  }
  .top {
    background-image: linear-gradient(#F2D99D, white);
    padding: 2% 10% 2% 10%;
    position: relative;
    text-align: center;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9C710C;
    margin-bottom: 4%;
    text-align: center;
    cursor: pointer;
    width: 100%;

  }

  .button:hover {
    background-color: #555;
  }

  .footer {
    color: #008ed6;
    text-align: center;

  }
  .page-title {
    font-family: "Sacramento", sans-serif;
    font-weight: 900;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .row {
    padding: 2% 10%;
  }
  .seprt {

  }
  .titles {
    font-family: "Sacramento", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5%;
  }
